:root {

    color: #262626;
    background-color: #F6F6EF;
  
}

  * {
      margin: 0px;
      padding: 0px;
  }
  
  
  .nav {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin-bottom: 1.5rem;
      width: 100%;
      background-color: #ffecc6;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0; 
  }
  
  .navBar {
      padding: 0.7rem 1rem;
      display: flex;
      gap: 4rem;
      justify-content: space-between;
      align-items: center;
  }

  .container {
      display: flex;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 2.2rem;
      min-width: 81.125rem;
      margin-top: 120px;
  }
   
  .container-conteudo {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      flex-direction: column;
      gap: 2.2rem;
      align-items: flex-start;
      max-width: 81.125rem;
  }
  
.nav-input {
    display: flex;
    background: green;
    max-width: 400px;
    padding: 10px;
    border-radius: 36px;
    gap: 10px;
    background: #DEDEDE;
}

.nav-input img {
    cursor: pointer;
}

.nav-input input {
    max-width: 360px;
    min-width: 300px;
    border: none;
    background: #DEDEDE;
    padding: 3px;
} 

  
  h4 {
    font-size: 12px;
    font-weight: 400;
    color: #F6F6EF;
    margin-block-end: auto;
    margin-block-start: auto;
  }
  
  
  
  .navBar .logo {
      font-size: 2.25rem;
      font-family: 'Domine', serif;
  }
  
  .navBar .items, .nav .cart {
      display: flex;
      align-items: center;
      font-family: 'Mulish', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #262626;
  }
  li {
    list-style: none;
    color: #262626;
    font-size: 1.22rem;
  }
  .logo {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-weight: 700;
  }
  .item {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
  .items {
    flex-direction: row;
    align-items: flex-start;
    gap: 90px;
    font-weight: 700;
  }

  .cart {
      display: flex;
      gap: 0.8rem;
      align-items: center;   
      font-weight: 700;
  }
  
  main {
    margin: 0 auto;
    display: flex;
    place-items: center;
    flex-direction: column;
    align-items: flex-start;
  /*  min-width: 320px;
    min-height: 100vh;*/
    gap: 2rem;
  }
  
  .hero {
      display: flex;
      justify-content: space-between;
      width: 81.12rem;
  }
  .hero h1 {
    font-size: 4rem;
    line-height: 4.56rem;
    font-weight: 700;
    width: 40.25rem;
    margin-block-end: auto;
    margin-block-start: auto;
  }
  .hero p {
    font-size: 1.5rem;
    line-height: 1.688rem;
    font-weight: 700;
    margin-block-end: auto;
    margin-block-start: auto;
    width: 37.563rem;
  }
  
  .destaques {
    display: grid;
    width:79.12rem;
    padding: 1rem;
    background-color: #F5CB7A;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-radius: 10px;
  }
  
  
  
  .addItem-container, .addItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #DEDEDE;
      width: 495px;
      height: 217px;
      margin: 0 auto;
      padding: 2rem;
  }
  
  .addItem p {
      color: #FF5A11;
      font-size: 1.5rem;
  }
  
  .addItem-container p {
      color: #FF5A11;
      font-size: 0.75rem;
  }
  
  .addItem-container img {
      cursor: pointer;
  }
  
  .carousel h3 {
    font-family: 'Domine';
    font-style: normal;
    font-size: 2.1rem;
    line-height: 2.813rem;
    font-weight: 700;
    margin-block-end: auto;
    margin-block-start: auto;
    color: #262626;
  }
  .frame h3 {
    font-family: 'Domine';
    font-style: normal;
    font-size: 2rem;
    line-height: 2.813rem;
    font-weight: 700;
    margin-block-end: auto;
    margin-block-start: auto;
    color: #262626;
  }
  
  .carousel {
      display: flex;
      flex-direction: column;
      width: 36.625rem;
      gap: 0.9rem;
  }
  
  .frame {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:4.5rem;
      width: 36.625rem;
  }
  
  .img-carousel {
    display: flex;
    flex-direction: row;
    gap: 0.938rem;
    overflow-x: scroll;
    padding: 0;
  }
  
  .img-carousel img {
    width: 15,313rem;
    height: 13rem;
    border-radius: 0.625rem;
  }

  .promotions {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 3rem;
    line-height: 3.438rem;
    font-weight: 700;
    margin-block-end: auto;
    margin-block-start: auto;
  }
  
  .categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 81.12rem;
  }

  .titulo-categoria {
    margin-bottom: 20px;
  }
  
  .one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.625rem;
    background-color: #DEDEDE;
    border-radius: 5px;
    height: 41.313rem;
    width: 18.75rem;
  }
  .one img {
    border-radius: 5px 5px 0px 0px;
  }
  h3#name {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px; 
    margin-block-end: 0;
    margin-block-start: 0;
    color: #262626;
    width: 136px;
  }
  #botao2 {
    background-color: #FF5A11;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 11.438rem;
    height: 2.75rem;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    border-style: none;
    color: #F6F6EF;
  }
  
  footer {
      text-align: center;
      padding: 2rem 0;
      background-color: #ffecc6;
      width: 100%;
      bottom: 0;
  }
  
  .modal-container {
      height: 100vh;
      width: 100%;
      background: rgba(255, 90, 17, 0.38);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2000;
      display: none;
      justify-content: center;
      align-items: center;
  }
  
  .modal {
      padding: 0px;
      background-color: #DEDEDE;
      border-radius: 10px;
      position: relative;
      width: 436px;
  }
  
  .forms {
      background: #ffffff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 16px 28px;
  }
  
  .fechar {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 10px;
      right: 10px;
      font-size: 40px;
      background: none;
      border: none;
      color: #FF5A11;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      cursor: pointer;
  }
  
  .addItemModal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 2rem;
      cursor: pointer;
      color: #FF5A11;
      font-size: 1.5rem;
      font-family: 'Domine', serif;
      font-weight: 700;
  }
  
  .forms label{
      font-weight: 400;
      font-family: 'Mulish';
      display: block;
      width: 100px;
      
  } 
  
  .forms input {
      width: 150px;
      height: 35px;
      padding: 0px;
      border: none;
      padding-left: 5px;
      font-size: 0.75rem;
      color: #9E9E9E;
      font-family: 'Mulish';
  }
  
  .input-modal {
      display: flex;
      flex-direction: column;
      color:#262626;
      font-family: 'Mulish';
      font-size: 0.75rem;
  }
  
  .button-modal {
      display: flex;
      flex-direction: row;
      justify-content:left;
      align-items: flex-end;
  }
  
  .button-modal button {
      width: 150px;
      height: 39px;
      border-radius: 10px;
      border: none;
      background: #FF5A11;
      color: #ffffff;
      cursor: pointer;
  }
  
  .forms {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      gap: 24px;
  }
  
  .modal-container.active {
      display: flex;
  }
  
  @keyframes modal {
      from {
          opacity: 0;
          transform: translate3d(0, -30px, 0);
      }
      to {
          opacity: 1;
          transform: translate3d(0,0,0);
      }
  }
  
  .active .modal {
      animation: modal .3s forwards;
  }
  
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  .ativo {
      display: block;
  }
  
  .noActive {
      display: none;
  }
  

   [data-menu="button"] {
        display: none;
   }

  
  /* Responsividade */
  /* @media (max-width: 800px) {
    .container {
      margin: 0 auto;
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 2.2rem;
      width: 81.125rem;
      margin-top: 150px;
  }

  .container-conteudo {
      height: auto;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
  }

    .hero {
      display: flex;
      justify-content: space-between;
      width: 42rem;
      text-align: center;
  }

    .promotions {
      width: 42rem;
    }

    .destaques {
      display: grid;
      background-color: #F5CB7A;
      grid-template-columns: auto;
      padding: 0.9rem 1rem;
      gap: 2rem;
      border-radius: 10px;
      max-width: 42rem;
      width: 100%;
    }

    .categorias {
      display: grid;
      grid-template-columns:  1fr 1fr;
      gap: 1.375rem;
    }


    .items {
      gap: 12px;
    }

    .cart {
      justify-content: center;
      gap: 0px;
    }

    .logo a {
        font-size: 0.9375rem;
    }
    .ativo {
        display: none;
    }
    .noActive {
        display: block;
    }

    .cart a {
        font-size: 0.75rem;
    }

    .addItem-container, .addItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #DEDEDE;
      width: 495px;
      height: 217px;
      margin: 0 auto;
      padding: 2rem;
  }

    .carousel {
      width: auto;
      overflow-x: scroll;
      padding: 0;
      gap: 0.9rem;
    }
    .frame {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap:2rem;
        width: auto;
    }

    .categorias {
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 1.375rem;
    }

    .botao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 7.75rem;
        height: 1.625rem;
    }
    .promotions h2 {
        font-size: 1.4rem;
        padding: 10px;
        text-align: center;
    }
    h3#name {
        font-family: 'Mulish';
        font-size: 1.5rem; 
    }
    footer {
        display: flex;
        margin: 0 auto 50px auto;
        width: 20.35rem;
        justify-content: center;
        bottom: 0px;
    }

    /* Modal */
        /* .modal-container {
        height: 100vh;
        min-width: 20.35rem;
    }

    .modal {
        width: 327px;
    }


    .addItemModal p {
        font-size: 0.9rem;
        font-family: 'Domine', serif
    }


    .forms input {
        width: 108px;
        height: 35px;
        padding: 0px;
        border: none;
        padding-left: 5px;
        font-size: 0.5rem;
        color: #9E9E9E;
        font-family: 'Mulish';
    }

    .input-modal {
        display: flex;
        flex-direction: column;
        color:#262626;
        font-family: 'Mulish';
        font-size: 0.75rem;
    }

    .button-modal {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: flex-end;
    }

    .button-modal button {
        width: 108px;
        height: 39px;
        border-radius: 10px;
        border: none;
        background: #FF5A11;
        color: #ffffff;
        cursor: pointer;
        font-size: 0.7rem;
    }

    .forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 24px;
    }
} */

  @media (max-width:600px) {
      .container {
          margin-top: 100px;
          display: flex;
          width: 100%;
          justify-content: center;
          flex-direction: column;
          gap: 2.2rem;
          min-width: 20.35rem;
      }
  
      .container-conteudo {
          display: flex;
          margin: 0 auto;
          width: 20.35rem;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
      }
      .nav {
          display: flex;
          margin: 0 auto;
          width: 20.35rem;
          justify-content: center;
          margin-bottom: 1.5rem;
      }

      .navBar {
          display: flex;
          background-color: #ffecc6;
          width: 20.35rem;
          padding: 0.7rem 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .items {
        gap: 12px;
      }

      .cart {
        justify-content: center;
        gap: 0px;
      }

        /* Início do Menu hamburguer */

       [data-menu="button"] {
            display: flex;
            align-items: center;
            background: #ffecc6;
            border: none;
            padding: .4rem 1rem;
            cursor: pointer;
            position: relative;
            z-index: 300;
            height: 50px;
            padding: 0px
       }
       [data-menu="button"]::before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 30px;
            background: #FF5A11;
            box-shadow: 0 10px #FF5A11, 0 -10px #FF5A11;
       }

       [data-menu="button"].activeBurger::before {
            transform: rotate(90deg);
       }

       .item {
            display: none;
            position: absolute;
            background: #ffecc6;
            z-index: 200;
            top: 0;
            width: 100px;
            padding: 70px 10px 20px 10px;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
            font-size: 1rem;
       }

        ul#menu.item.activeBurger {
            width: 125px;
            
        }

        .item.activeBurger {
            display: block;
        }


       .item li {
            padding: 9px 0px 9px 0px;
       }

        /* Fim do Menu hamburguer */

      .logo a {
          font-size: 0.9375rem;
      }
      .ativo {
          display: none;
      }
      .noActive {
          display: block;
      }

      .cart a {
          font-size: 0.75rem;
      }
      .hero {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: auto;
      }
      .hero h1 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 2rem;
          width: 19rem;
          text-align: center;
          padding: 10px;
      }
      .hero p {
          font-size: 0.75rem;
          text-align: center;
          line-height: 0.85rem;
          padding: 10px;
          width: 19.125rem;
      }
      .addItem-container, .addItem {
          width: 293px;
          height: 354px;
          background: none;
          padding: 0px;
      }


      .destaques {
          display: grid;
          width: 18.2rem;
          background-color: #F5CB7A;
          grid-template-columns: 277px;
          gap: 4rem;
          border-radius: 10px;
          
      }

        div.promotions {
            width: 200px;   
        }

        div.categorias {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            width: 200px;
        }

      .carousel {
        width: auto;
        overflow-x: scroll;
        padding: 0;
        gap: 0.9rem;
      }
      .frame {
          display: flex;
          justify-content: center;
          margin: 0 auto;
          align-items: center;
          gap:2rem;
          width: auto;
      }
  
      .frame h3, .destaques h3 {
          width: 200px;
          text-align: center;
          font-weight: 700;
          line-height: 1.76rem;
          font-size: 1.5rem;
      }
      .categorias {
          display: grid;
          width: 25rem;
          padding-right: 0px;
          grid-template-columns:  1fr 1fr;
      }

      h2.titulo-categoria {
        width: 18.2rem;
      }
      
      .promotions {
        width: 25rem;
        padding: 0px;
      }

      .one {
          gap: 1rem;
          width: 9.37rem;
          height: 20.5rem;
      }
      .botao {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          width: 7.75rem;
          height: 1.625rem;
      }
      .promotions h2 {
          font-size: 1.4rem;
          padding: 10px;
          text-align: center;
      }
      h3#name {
          font-family: 'Mulish';
          font-size: 1.5rem; 
      }
      footer {
          display: flex;
          margin: 0 auto 50px auto;
          width: 20.35rem;
          justify-content: center;
          bottom: 0px;
      }

      /* Modal */
          .modal-container {
          height: 100vh;
          min-width: 20.35rem;
      }
  
      .modal {
          width: 327px;
      }
  
  
      .addItemModal p {
          font-size: 0.9rem;
          font-family: 'Domine', serif
      }
  
  
      .forms input {
          width: 108px;
          height: 35px;
          padding: 0px;
          border: none;
          padding-left: 5px;
          font-size: 0.5rem;
          color: #9E9E9E;
          font-family: 'Mulish';
      }
  
      .input-modal {
          display: flex;
          flex-direction: column;
          color:#262626;
          font-family: 'Mulish';
          font-size: 0.75rem;
      }
  
      .button-modal {
          display: flex;
          flex-direction: row;
          justify-content:left;
          align-items: flex-end;
      }
  
      .button-modal button {
          width: 108px;
          height: 39px;
          border-radius: 10px;
          border: none;
          background: #FF5A11;
          color: #ffffff;
          cursor: pointer;
          font-size: 0.7rem;
      }
  
      .forms {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          gap: 24px;
      }
  
  }