:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #262626;
  background-color: #F6F6EF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.navBarContato {
    max-width: 125rem;
    display: flex;
    background-color: #FF5A11;
    justify-content: space-between;
    align-items: center;
    padding: 0.45rem;

}

h4 {
  font-size: 12px;
  font-weight: 400;
  color: #F6F6EF;
  margin-block-end: auto;
  margin-block-start: auto;
}

.navBar {
    width: 84rem;
    padding: 0.7rem 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navBar .logo {
    font-size: 2.25rem;
    font-family: 'Domine', serif;;
}

.navBar .items, .nav .cart {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 1348px;
    gap: 2.2rem;
}


a {
  text-decoration: none;
  color: #262626;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 36px;
    font-weight: 700;
}
.items {
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  font-size: 24px;
  font-weight: 700;
}
input {
  text-align: left;
  font-weight: 400;
  height: 2.25rem;
  width: 25.938rem;
  border-radius: 10px;
  border: none;
  background: #F1F5F9;
  padding: 0.5em;
}
.cart {
    display: flex;
    gap: 0.8rem;
    align-items: center;   
    font-size: 24px;
    font-weight: 700;
}

main {
  margin: 0 auto;
  width: 84rem;
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: flex-start;
/*  min-width: 320px;
  min-height: 100vh;*/
  gap: 2rem;
}

.hero {
    display: flex;
    justify-content: space-between;
}
h1 {
  font-size: 4rem;
  line-height: 4.56rem;
  font-weight: 700;
  width: 40.25rem;
  margin-block-end: auto;
  margin-block-start: auto;
}
p {
  font-size: 1.5rem;
  line-height: 1.688rem;
  font-weight: 700;
  margin-block-end: auto;
  margin-block-start: auto;
}

.destaques {
  width: 84.25rem;
  display: grid;
  background-color: #F5CB7A;
  grid-template-columns: 1fr 1fr;
  padding: 0.9rem 0.68rem;
  gap: 4rem;
  border-radius: 10px;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.addItem-container, .addItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DEDEDE;
    width: 495px;
    height: 217px;
    margin: 0 auto;
    padding: 2rem;
}

.addItem p {
    color: #FF5A11;
    font-size: 1.5rem;
}

.addItem-container p {
    color: #FF5A11;
    font-size: 0.75rem;
}

.addItem-container img {
    cursor: pointer;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.813rem;
  font-weight: 700;
  margin-block-end: auto;
  margin-block-start: auto;
}

.carousel {
  width: 40.625;
  height: 21.688;
  overflow-x: scroll;
  padding: 0;
  gap: 0.9rem;
}

.img-carousel {
  display: flex;
  flex-direction: row;
  gap: 0.938rem;
}

.img-caurosel img {
  width: 15,313rem;
  height: 13rem;
  border-radius: 0.625rem;
}

.promotions {
  width: fill;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 3rem;
  line-height: 3.438rem;
  font-weight: 700;
  margin-block-end: auto;
  margin-block-start: auto;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #ffecc6;
}

.modal-container {
    margin: 0 auto;
    width: 436px;
    height: 438px;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
